.selected-filter__item {
  padding: 6px 8px;
  margin-right: 30px;
  margin-bottom: 10px;
  border-radius: 8px;

  text-align: center;
  color: white;
  font-weight: 600;
  background: blue;
}

.selected-filter__button {
  border: none;
  font-size: 1.1rem;
  color: white;
  background: none;
}

.selected-filter__button:hover {
  cursor: pointer;
}